#img1 {
    width: 500px;
    height: 350px;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

#img2 {
    width: 500px;
    height: 350px;
}

#img3 {
    width: 500px;
    height: 350px;
}

#teext {
    color: red;
}